.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

/* Shades of Red */
.q0-9 { fill:rgb(224,24,10); }
.q1-9 { fill:rgb(220,60,60); }
.q2-9 { fill:rgb(218,76,62); }
.q3-9 { fill:rgb(198,109,128); }

/* Neutral */
.q4-9 { fill:rgb(255,255,255); }

/* Shades of Blue */
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }